header{
    height:65px;
    border:1px solid #333545;
    background-color:#333545;
    
}

.bms{
    float: left;
    
}
/*cxBGQYcgQB0VMwjh*/
/* mongodb+srv://sridharreddy1811:<cxBGQYcgQB0VMwjh>@cluster0.otkgodp.mongodb.net/?retryWrites=true&w=majority*/

.bms > img{
    width:120px;
    height:30px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 35px;
}

.srch{
    width:538px;
    height:35px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 30px;
    background-color:white;
    border-radius: 5px;
    float: left;
}

.srchtxt{
    margin-top: 10px;
    margin-left: 15px;
}

.sgn{
    width:350px;
    height:30px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 900px;
    /*border:2px solid rgb(220, 26, 26);*/
    display:flex;
    
}

.location{
    margin-left: 20px;
    background-color:white;
    color: black;
    border: none;
    border-radius: 4px;
    font-size:12px;
    
}

#location-dropdown {
    height:25px;
    font-size: 14px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:#333545;
    width:90px;
    outline: none;
    border:none;
}

#btn{
    display: flex;
    margin-left:20px ;
}

.btn-danger{
    background-color: rgb(248, 68, 100);
    height:25px;
    font-size:12px;
    width:67px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.icbar{
    height:25px;
    width:28px;
    margin-left: 24px;
    /*border:2px solid white;*/

}

.navbar {
    background-color:#333545;
    display: flex;
    margin-top: 5px;
    min-height: 20px;
  }
  
  .menu-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    width: 20px;
  }
  
  .bar {
    background-color: #fff;
    height: 2px;
    width: 20px;
  }

.selection{
    height:40px;
    border:1px solid #222539;;
    background-color:#222539;
}

.heading1{
    margin-left: 25px;
    margin-top: 10px;
    width: 720px;
    /*border:2px solid rgb(204, 16, 16);*/
    float:left;
}

.heading2{
    margin-left: 920px;
    margin-top: 10px;
    width: 325px;
    /*border:2px solid rgb(255, 255, 255);*/
}

body{
    background-color:white;
    color:black
}

.mydark{
    background-color:black;
    color:grey
}

.mydark .srch{
    background-color: black;
    color:white
}

.mydark .location{
    background-color: black;
    color:white
}
.mydark .cont2txt{
    color: white;
}

.mydark .cont4txt1{
    color: white;
}

.mydark .cont6txt1{
    color: white;
}

.bulb1{
   font-size: 20px;
}

.htxt1{
    margin-left: 10px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

a {
    color: lightgray;
    text-decoration: none;
}

.htxt2{
    margin-left: 10px;
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.container{
    /*border:2px solid rgb(100, 9, 9);*/
    margin-top: 23px;
    height: 300px;
    width: 1250px;
}

.imgSlider{
    width:100%;
    height:100% !important;
}

.carousel-inner {
    max-width: 1250px; /* Set a maximum width for the slideshow container */
    margin: 0 auto; /* Center the slideshow container */
  }
  
  .carousel-inner .item img {
    max-width: 100%; /* Set a maximum width for the images within the slideshow */
    height: auto; 
  }

  


.cont1{
    /*border: 2px solid red;*/
    margin-top: 55px;
    margin-left: 50px;
    height:100px;
    width:1172px;
    display: flex;
    flex-wrap: nowrap;
}


.cont1 > img{
    width:100%;
    height:100%;
    border-radius: 15px;
}

.cont2{
    /*border: 2px solid red;*/
    margin-top: 25px;
    margin-left: 51px;
    height:28px;
    width:1200px;
    color: black;
}

.cont2txt{
    word-break: break-word;
    color: rgb(51, 51, 51);
    font-size: 23px;
    font-weight: 700;
    line-height: 1.17;
}

.cont3{
    /*border: 2px solid red;*/
    margin-top: 10px;
    margin-left: 21px;
    height:360px;
    width:1200px;
    display:flex;
   
}

.movie{
    /*border: 2px solid blue;*/
    width:205px;
    height:100%;
    margin-left: 33px;
    border-radius: 10px;
    
    background-color: black;
}

.movie > img {
    max-width: 100%;
    width:100%;
    height:91%; 
    border-radius: 10px 10px 0 0;
     
}

.rating{
    color: rgb(248, 68, 100);
}
.mvtxt{
    color:white;
    margin-left:10px;
    margin-top: 6px;
    font-size: 15px;
}

.cont4{
    /*border: 2px solid red;*/
    margin-top: 6px;
    margin-left: 21px;
    height:60px;
    width:1200px;
    display: flex;
}

.cont4txt{
    /*border: 2px solid black;*/
    height:60px;
    width:200px;
    margin-left: 34px;
}

.cont4txt1{
    /*border: 2px solid black;*/
    height:28px;
    width:100%;
    color: rgb(34, 34, 34);
    font-weight: bold;
    font-size: 17px;
}

.cont4txt2{
    /*border: 2px solid black;*/
    height:25px;
    width:100%;
    color: rgb(102, 102, 102);
    font-weight: normal;
    font-size: 16px;
    
}

.ad{
    margin-top: 75px;
}

.mgtp{
    margin-top: 75px;
}

.cont5{
    /*border: 2px solid red;*/
    margin-top: 10px;
    margin-left: 21px;
    height:208px;
    width:1200px;
    display: flex;
    flex-wrap: wrap;
}

.events{
    /*border: 2px solid blue;*/
    width:205px;
    height:100%;
    margin-left: 33px;
    border-radius: 10px;
    
}

.events > img {
    width:100%;
    height: 100%;
    border-radius: 10px;
}

.Lt{
    /*border: 2px solid blue;*/
    width:205px;
    height:100%;
    margin-left: 33px;
    border-radius: 10px;
    background-color: black;
}

.Lt > img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}

.cont6{
    /*border: 2px solid red;*/
    margin-top: 10px;
    margin-left: 21px;
    height:100px;
    width:1200px;
    display: flex;
    flex-wrap: wrap;
}

.cont6txt{
    /*border: 2px solid black;*/
    height:100px;
    width:205px;
    margin-left: 34px;
    
}

.cont6txt1{
    /*border: 2px solid black;*/
    height:43px;
    width:100%;
    color: rgb(34, 34, 34);
    font-weight: bold;
    font-size: 17px;
    line-height: 1.13;
}



.cont6txt2{
    /*border: 2px solid black;*/
    height:43px;
    width:100%;
    color: rgb(102, 102, 102);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.13;
}

.ose{
    line-height: 3;
}

.cont7{
    /*border: 2px solid red;*/
    width:1253px;
    height:573px;
    margin-top: 75px;
    background-color: rgb(43, 49, 72);

}

.cont7sub1{
    /*border: 2px solid red;*/
    width:1250px;
    height:100px;
}

.cont7sub1 > img {
    width: 96%;
    height: 100%;
    margin-left: 4%;
}

.cont7sub2{
    /*border: 2px solid red;*/
    width:1250px;
    height:445px;
    background-color: rgb(43, 49, 72);
}
.colr{
    color:rgb(255,255,255);
}

.cont7hd1{
    word-break: break-word;
    color:rgb(255,255,255);
    font-size: 23px;
    font-weight: 700;
    line-height: 1.17;
}
.cont7hd2{
    font-size: 14px;
    font-weight: normal;
    color:rgb(255,255,255);
}

.ht7{
    height: 310px;
}

#coupon{
    height:490px;
    width:700px;
    /*border:2px solid red;*/
    position: absolute;
    margin-top: 1%;
    margin-left: 25%;
    z-index: 100;
    visibility:hidden
}

#coupon > img {
    width: 100%;
  height: 100%;
  
}

.cup{
    position: absolute;
    margin-top:10px;
    margin-left: 640px;
    font-size: 30px;
    z-index: 101; /* Set a higher z-index to display the "X" mark on top of the coupon */
    color:white; /* Set the desired color for the "X" mark */
    padding: 5px; /* Adjust the padding as needed */
}

.premier{
    /*border: 2px solid blue;*/
    width:205px;
    height:100%;
    margin-left: 33px;
    border-radius: 10px;

}
.premier > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.mgtp7{
    margin-top: 0px;
}
.socialLogo{
    height:50px;
}

footer{
    height: 435px; 
    /*border:2px solid rgb(55, 0, 255) ;*/
    background-color:rgb(49, 48, 53);
    color: white;
    margin-top:50px;
}

.Lstshow{
    height: 80px;
    width:100%;
    /*border:2px solid rgb(55, 0, 255) ;*/
    float: left;
}

.Lstimg{
    height: 80px;
    /*border:2px solid rgb(55, 0, 255) ;*/
    float: left;
}

.Lstimg > img {
    width:50px;
    height:50px;
    margin-left:13px;
    margin-top:13px;
    /*color:rgb(22, 22, 163);*/
    
}

.Lsttxt{
    /*border:2px solid rgb(55, 0, 255) ;*/
    width:803px;
    height:50px;
    margin-top:15px;
    float: left;
    margin-left:5px;
}

.Lsttxt1{
    /*border:2px solid rgb(55, 0, 255) ;*/
    height:25px;
    width:100%;
    color: white;
    font-weight:700;
    margin-top: 14px;
    font-size: 16px;
}

.Lsttxt2{
    font-weight:400;
}

.Lstsign{
    width:145px;
    height:40px;
    /*border:2px solid rgb(55, 0, 255) ;*/
    margin-right: 20px;
    float: right;
    margin-top:20px ;
    border-radius: 4px;
    background-color: rgb(248, 68, 100);
    font-size:16px;
    font-weight: 500;
    border:none;
}


.sm1{
    width:100%;
    height:120px;
    /*border: 2px solid rgb(164, 19, 19);*/
    margin-top: 80px;
    background-color: #404043;
    align-items: center;
    display: flex;
}

.care-icon {
    background-size: cover;
    transition: transform 0.3s, filter 0.3s;
}
.care-icon > img {
    width:150px;
    height:100px;
    margin-left: 130px;
    margin-top: 10px;
    display:flex;
}


 .cr1 > img {
    width:244px;
    height:89px;
    margin-top: 6px;
    margin-left: 208px;
 }

 .cr2 > img {
    width:230px;
    height:89px;
    margin-top: 6px;
    margin-left: 208px;
 }
.care-icon:hover {
    transform: scale(1.1); /* Increase the size on hover */
    filter: brightness(2); /* Make it glow on hover */
    cursor: pointer;
    color:white;
}
.container1{
    width:100%;
    height:60px;
    /*border: 2px solid black;*/
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.horizontal-line {
    height: 1px;
    background-color:rgb(93, 93, 95); 
    flex-grow: 1;
}

.left {
    margin-right: 5px; 
}

.right {
    margin-left: 5px;
}
.centered-image {
    max-width: 125px;
    max-height: 50px; /* Adjust the max height as needed */
    display: block;
    margin-top: 10px !important;
}

.socialmedia{
    width:100%;
    height:60px;
    /*border: 2px solid black;*/
    margin-top: 20px;
    color: black;
    text-align: center;
    line-height: 2.12;
    font-size: 30px;
}

.smcolor{
    color:rgb(86, 86, 103);
}
.social-icon {
    background-size: cover;
    transition: transform 0.3s, filter 0.3s;
}

.social-icon:hover {
    transform: scale(1.1); /* Increase the size on hover */
    filter: brightness(10); /* Make it glow on hover */
    cursor: pointer;
    color:white;
    text-decoration: none;
}

.copyright{
    width:100%;
    height:75px;
    /*border: 2px solid red;*/
    text-align: center;
}

.copytxt{
    margin-top:10px;
    font-size: 11px;
    color: rgb(102, 102, 102);
    text-align: center;
}

@media screen and (max-width: 1238px){
        .sgn{
            margin-left: 950px; 
        }
        .carousel-inner {
            max-width: 80%; 
          }
        .carousel-control{
        top:50%;
        transform:translateY(-50%);
        width:25%;
        }
        .carousel-control.left {
            background-image: linear-gradient(to right, rgb(255 255 255) 0px, rgba(0, 0, 0, 0) 100%);
            background-repeat: repeat-x;
        }
        .carousel-control.right {
    
            background-image: linear-gradient(to left,rgb(255 255 255) 0,rgba(0, 0, 0, 0) 100%);
            background-repeat: repeat-x;
        }
        .cont3{
            width:1237px;
        }
    
        .movie{
            width:180px;
            margin-left: 30px;
        }
        cont5{
            width:1237px;
        }
        .events{
            width:180px;
            margin-left: 30px;
        }
        .Lt{
            width:180px;
            margin-left: 30px;
        }
        .premier{
            width:180px;
            margin-left: 30px;
        }
        .mvtxt{
            font-size: 95%;
        }

        .cont4{
            width:1236px;
        }
        .cont4txt{
            width:180px;
            margin-left: 30px;
        }
        .cont4txt1{
            font-size: 90%;
        }
        .cont4txt2{
            font-size: 90%;
        }
        .cont6{
            width:1236px;
        }
        .cont6txt{
            width:180px;
            margin-left: 30px;
        }
        .cont6txt1{
            font-size: 90%;
        }
        .cont6txt2{
            font-size: 90%;
        }
        .cont1{
            width:1025px;
        }
}

@media screen and (max-width: 1193px){
    .sgn{
        margin-left: 900px; 
    }
    .carousel-inner {
        max-width: 70%; 
      }
      .carousel-control{
        top:50%;
        transform:translateY(-50%);
        width:35%;
        }

    .cont3{
        width:1189px;
    }

    .movie{
        width:200px;
        margin-left: 30px;
    }
    .Lt{
        width:200px;
        margin-left: 30px;
    }
    .premier{
        width:200px;
        margin-left: 30px;
    }
    .care-icon > img {
        width:150px;
        height:100px;
        margin-left: 100px;
        margin-top: 10px;
        display:flex;
    }
    
    
     .cr1 > img {
        width:244px;
        height:89px;
        margin-top: 6px;
        margin-left: 190px;
        display:flex;
     }
    
     .cr2 > img {
        width:230px;
        height:89px;
        margin-top: 6px;
        margin-left: 190px;
     }

}

@media screen and (max-width: 1144px){
    .sgn{
        margin-left: 850px; 
    }
    .carousel-inner {
        max-width: 60%; 
      }
      .carousel-control{
        top:50%;
        transform:translateY(-50%);
        width:45%;
    }
    .cont3{
        width:1144px;
        display: flex;
    }
    .movie{
        width:180px;
        margin-left: 30px;
    }
    .Lt{
        width:180px;
        margin-left: 30px;
    }
    .premier{
        width:180px;
        margin-left: 30px;
    }
}
@media  screen and (max-width:1098px) {
    .care-icon > img {
        width:150px;
        height:100px;
        margin-left: 100px;
        margin-top: 10px;
        display:flex;
    }
    
    
     .cr1 > img {
        width:244px;
        height:89px;
        margin-top: 6px;
        margin-left: 150px;
        display:flex;
     }
    
     .cr2 > img {
        width:230px;
        height:89px;
        margin-top: 6px;
        margin-left: 150px;
     }
}
@media screen and (max-width: 1092px){
    .sgn{
        margin-left: 800px; 
    }
    .carousel-inner {
        max-width: 55%; 
      }
      .carousel-control{
        top:50%;
        transform:translateY(-50%);
        width:50%;
        }
    .cont3{
        width:1092px;
    }
    .Lsttxt{
        width:690px;
    }
    .Lsttxt1{
        font-size:95% ;
    }
    cont5{
        width:1092px;
    }
    .events{
        width:160px;
        margin-left: 20px;
    }
    
}

@media screen and (max-width: 1044px){
    .sgn{
        margin-left: 750px; 
    }
    .carousel-inner {
        max-width: 50%; 
      }
      .carousel-control{
        top:50%;
        transform:translateY(-50%);
        width:55%;
        }
    .cont3{
        width:1044px;
    }
    .care-icon > img {
        width:150px;
        height:100px;
        margin-left: 100px;
        margin-top: 10px;
        display:flex;
    }
    
    
     .cr1 > img {
        width:244px;
        height:89px;
        margin-top: 6px;
        margin-left: 120px;
        display:flex;
     }
    
     .cr2 > img {
        width:230px;
        height:89px;
        margin-top: 6px;
        margin-left: 120px;
     }
}

@media screen and (max-width: 996px){
    .srch{
        width:530px; 
    }
    .sgn{
        margin-left: 725px; 
    }
    .carousel-inner {
        max-width: 45%; 
      }
      .carousel-control{
        top:50%;
        transform:translateY(-50%);
        width:60%;
    }
    .cont3{
        width:991px;
        flex-wrap: nowrap;
    }

    .movie{
        width:150px;
        margin-left: 20px;
    }

    .cont5{
        width:991px;
    }
    .events{
        width:150px;
        margin-left: 20px;
    }
    .Lt{
        width:150px;
        margin-left: 20px;
    }
    .premier{
        width:150px;
        margin-left: 20px;
    }

    .mvtxt{
        font-size: 90%;
    }

    .cont4{
        width:991px;
    }
    .cont4txt{
        width:150px;
        margin-left: 20px;
    }
    .cont4txt1{
        font-size: 86%;
    }
    .cont4txt2{
        font-size: 86%;
    }
    .cont6{
        width:991px;
    }
    .cont6txt{
        width:150px;
        margin-left: 20px;
    }
    .cont6txt1{
        font-size: 86%;
    }
    .cont6txt2{
        font-size: 86%;
    }
    .cont1{
        width:825px;
    }
}

@media screen and (max-width: 964px){
    .srch{
        width:500px; 
    }
    .sgn{
        margin-left: 700px; 
    }
    .carousel-inner {
        max-width: 40%; 
      }
      .carousel-control{
        top:50%;
        transform:translateY(-50%);
        width:65%;
    }
    .cont3{
        width:964px;
    }
    .Lsttxt{
        width:630px;
    }
    .Lsttxt1{
        font-size: 85%;
    }
    .Lstsign{
        width:120px;
        font-size: 90%;
    }
    .care-icon > img {
        width:150px;
        height:100px;
        margin-left: 80px;
        margin-top: 10px;
        display:flex;
    }
    
    
     .cr1 > img {
        width:244px;
        height:89px;
        margin-top: 6px;
        margin-left: 80px;
        display:flex;
     }
    
     .cr2 > img {
        width:230px;
        height:89px;
        margin-top: 6px;
        margin-left: 80px;
     }
}

@media screen and (max-width: 944px){
    .srch{
        width:475px; 
    }
    .sgn{
        margin-left: 675px; 
    }
    .cont3{
        width:944px;
    }
}

@media screen and (max-width: 918px){
    .srch{
        width:450px; 
    }
    .sgn{
        margin-left: 650px; 
    }
    .carousel-inner {
        max-width: 35%; 
      }
      .carousel-control{
        top:50%;
        transform:translateY(-50%);
        width:65%;
        }
}

@media screen and (max-width: 894px){
    .srch{
        width:425px; 
    }
    .sgn{
        margin-left: 625px; 
    }
    .carousel-inner {
        max-width: 30%; 
        margin-left: 150px;
      }
      .carousel-control{
        top:50%;
        transform:translateY(-50%);
        width:75%; 
    }
    .cont3{
        width:876px;
    }

    .movie{
        width:150px;
        margin-left: 15px;
    }
    .Lt{
        width:150px;
        margin-left: 15px;
    }
    .premier{
        width:150px;
        margin-left: 15px;
    }
    .cont4{
        width:876px;
    }
    .cont4txt{
        width:150px;
        margin-left: 15px;
    }
    .cont4txt1{
        font-size: 86%;
    }
    .cont4txt2{
        font-size: 86%;
    }
    .cont6{
        width:876px;
    }
    .cont6txt{
        width:150px;
        margin-left: 15px;
    }
    .cont6txt1{
        font-size: 86%;
    }
    .cont6txt2{
        font-size: 86%;
    }
    .cont5{
        width:876px;
    }
    .events{
        width:150px;
        margin-left: 15px;
    }

}

@media screen and (max-width: 868px){
    .srch{
        width:390px; 
    }
    .sgn{
        margin-left: 590px; 
    }
    .carousel-inner {
        max-width: 25%; 
      }
      .carousel-control{
        top:50%;
        transform:translateY(-50%);
        width:27%;
        }
        .cont3{
            width:847px;
        }
    
        .movie{
            width:120px;
            margin-left: 15px;   
        }
        .Lt{
            width:120px;
            margin-left: 15px;
        }
        .premier{
            width:120px;
            margin-left: 15px;
        }
        .mvtxt{
            font-size: 70%;
        }
        .cont4{
            width:847px;
        }
        .cont4txt{
            width:120px;
            margin-left: 15px;
        }
        .cont4txt1{
            font-size: 74%;
        }
        .cont4txt2{
            font-size: 80%;
        } 
        .cont6{
            width:847px;
        }
        .cont6txt{
            width:120px;
            margin-left: 15px;
        }
        .cont6txt1{
            font-size: 74%;
        }
        .cont6txt2{
            font-size: 80%;
        } 
        .cont1{
            width:645px;
        }
        .cont5{
            width:847px;
        }
        .events{
            width:120px;
            margin-left: 15px;
        }
        .Lsttxt{
            width:600px;
        }
        .Lsttxt1{
            font-size: 85%;
        }
        .Lstsign{
            width:110px;
            font-size: 90%;
            height:35px;
            margin-top: 21px;
        }
        .care-icon > img {
            width:150px;
            height:100px;
            margin-left: 80px;
            margin-top: 10px;
            display:flex;
        }
        
        
         .cr1 > img {
            width:244px;
            height:89px;
            margin-top: 6px;
            margin-left: 60px;
            display:flex;
         }
        
         .cr2 > img {
            width:230px;
            height:89px;
            margin-top: 6px;
            margin-left: 60px;
         }
}

@media screen and (max-width: 834px){
    .srch{
        width:320px; 
    }
    .sgn{
        margin-left: 519px; 
    }
    .Lsttxt{
        width:575px;
    }
    .Lsttxt1{
        font-size: 80%;
    }
    .Lstsign{
        width:110px;
        font-size: 90%;
        height:35px;
        margin-top: 21px;
    }
    .care-icon > img {
        width:100px;
        height:100px;
        margin-left: 80px;
        margin-top: 10px;
        display:flex;
    }
    
    
     .cr1 > img {
        width:200px;
        height:89px;
        margin-top: 6px;
        margin-left: 80px;
        display:flex;
     }
    
     .cr2 > img {
        width:200px;
        height:89px;
        margin-top: 6px;
        margin-left: 80px;
     }
}
@media screen and (max-width: 797px){
    .Lsttxt{
        width:560px;
    }
    .Lsttxt1{
        font-size: 80%;
    }
    .Lstsign{
        width:110px;
        font-size: 90%;
        height:35px;
        margin-top: 21px;
    }
}

@media screen and (max-width: 785px){
    .srch{
        width:300px; 
    }
    .sgn{
        margin-left: 496px; 
        margin-top: 17px;;
    }
    .Lsttxt{
        width:550px;
    }
    .Lsttxt1{
        font-size: 75%;
    }
    .Lstsign{
        width:100px;
        font-size: 90%;
        height:30px;
        margin-top: 21px;
    }
}

@media screen and (max-width: 771px){
    .srch{
        width:300px; 
    }
    .sgn{
        margin-left: 500px; 
        margin-top: 17px;;
    }
    .Lsttxt{
        width:530px;
    }
    .Lsttxt1{
        font-size: 75%;
    }
    .Lstsign{
        width:90px;
        font-size: 80%;
        height:30px;
        margin-top: 25px;
    }
    
}

@media screen and (max-width: 745px){
    .header{
        height:65px!important;
        border:2px solid white!important;
        background-color:white!important;
    }
    .selection{
        height:2px;
        border:2px solid white;
    background-color:white;
    }
    .bms{
        display:none;
    }
    .srch{
        display:none;
    }
    .srchtxt{
        display:none;
    }
    .sgn{
        display:none;
    }
    .dropdown{
        display:none;
    }
    #location-dropdown{
        display:none;
    }
    .btn{
        display:none;
    }
    .btn-danger{
        display:none;
    }
    .icbar{
        display:none;
    }
    .navbar{
        display:none;
    }
    .menu-toggle{
        display: none;
    }
    
    .heading1{
        display: none;
    }
    .heading2{
        display: none;
    }
    .htxt1{
        display: none;
    }
    .htxt2{
        display: none;
    }
    .care-icon > img {
        width:100px;
        height:100px;
        margin-left: 60px;
        margin-top: 10px;
        display:flex;
    }
    
    
     .cr1 > img {
        width:200px;
        height:89px;
        margin-top: 6px;
        margin-left: 60px;
        display:flex;
     }
    
     .cr2 > img {
        width:200px;
        height:89px;
        margin-top: 6px;
        margin-left: 60px;
     }
}

@media screen and (max-width: 730px){
    .cont3{
        width:725px;
    }

    .movie{
        width:100px;
        margin-left: 15px;  
    }
    .Lt{
        width:100px;
        margin-left: 15px; 
    }
    .premier{
        width:100px;
        margin-left: 15px; 
    }
    .cont4{
        width:725px;
    }
    .cont4txt{
        width:100px;
        margin-left: 15px;
    }
    .cont4txt1{
        font-size: 70%;
    }
    .cont4txt2{
        font-size: 70%;
    }
    .cont6txt{
        width:100px;
        margin-left: 15px;
    }
    .cont6txt1{
        font-size: 70%;
    }
    .cont6txt2{
        font-size: 70%;
    }
    .cont1{
        width:550px;
    }
    .cont5{
        width:725px;
    }
    .events{
        width:100px;
        margin-left: 15px;
    }
    .Lsttxt{
        width:500px;
    }
    .Lsttxt1{
        font-size: 70%;
    }
    .Lstsign{
        width:90px;
        font-size: 80%;
        height:30px;
        margin-top: 25px;
    }
}

@media screen and (max-width:702px){
    .Lsttxt{
        width:450px;
    }
    .Lsttxt1{
        font-size: 63%;
    }
    .Lstsign{
        width:90px;
        font-size: 80%;
        height:30px;
        margin-top: 25px;
    }
}
@media screen and (max-width:677px){
    .care-icon > img {
        width:100px;
        height:100px;
        margin-left: 60px;
        margin-top: 10px;
        display:flex;
    }
    
    
     .cr1 > img {
        width:170px;
        height:89px;
        margin-top: 10px;
        margin-left: 40px;
        display:flex;
     }
    
     .cr2 > img {
        width:170px;
        height:89px;
        margin-top: 10px;
        margin-left: 40px;
     }
}
@media screen and (max-width:652px){
    .Lsttxt{
        width:425px;
        line-height: 3;
    }
    .Lsttxt1{
        font-size: 60%;
    }
    .Lstsign{
        width:90px;
        font-size: 80%;
        height:30px;
        margin-top: 25px;
    }
}
@media screen and (max-width:652px){
    .Lsttxt{
        width: 400px;
        line-height: 3;
    }
    .Lsttxt1{
        font-size: 55%;
    }
    .Lstsign{
        width:70px;
        font-size: 70%;
        height:30px;
        margin-top: 25px;
    }
}
@media screen and (max-width: 620px){
    .cont3{
        width:620px;
    }

    .movie{
        width:80px;
        margin-left: 15px;
    }
    .Lt{
        width:80px;
        margin-left: 15px;
    }
    .premier{
        width:80px;
        margin-left: 15px; 
    }
    .cont4{
        width:620px;
    }
    .cont4txt{
        width:80px;
        margin-left: 15px;
    }
    .cont4txt1{
        font-size: 50%;
    }
    .cont4txt2{
        font-size: 50%;
    }
    .cont6txt{
        width:80px;
        margin-left: 15px;
    }
    .cont6txt1{
        font-size: 50%;
    }
    .cont6txt2{
        font-size: 50%;
    }
    .cont1{
        width:450px;
    }
    .cont5{
        width:620px;
    }
    .events{
        width:80px;
        margin-left: 15px;
    }
}
@media screen and (max-width:588px) {
    .care-icon > img {
        width:100px;
        height:100px;
        margin-left: 20px;
        margin-top: 10px;
        display:flex;
    }
    
    
     .cr1 > img {
        width:170px;
        height:89px;
        margin-top: 10px;
        margin-left: 40px;
        display:flex;
     }
    
     .cr2 > img {
        width:170px;
        height:89px;
        margin-top: 10px;
        margin-left: 20px;
     }
}
@media screen and (max-width:582px){
    .Lsttxt{
        width:360px;
        line-height: 3;
    }
    .Lsttxt1{
        font-size: 50%;
    }
    .Lstsign{
        width:70px;
        font-size: 50%;
        height:30px;
        margin-top: 25px;
    }
}
@media screen and (max-width:543px) {
    .Lsttxt{
        width:320px;
        line-height: 3;
    }
    .Lsttxt1{
        font-size: 45%;
    }
    .Lstsign{
        width:70px;
        font-size: 50%;
        height:30px;
        margin-top: 25px;
    }
}
@media screen and (max-width:501px) {
    .Lsttxt{
        width:300px;
        line-height: 3;
    }
    .Lsttxt1{
        font-size: 40%;
    }
    .Lstsign{
        width:50px;
        font-size: 50%;
        height:30px;
        margin-top: 25px;
    }
}
@media screen and (max-width: 492px){
    .cont3{
        width:492px;
    }

    .movie{
        width:75px;
        margin-left: 15px;  
    }
    .Lt{
        width:75px;
        margin-left: 15px;
    }
    .premier{
        width:75px;
        margin-left: 15px; 
    }
    .cont4{
        width:492px;
    }
    .cont4txt{
        width:75px;
        margin-left: 15px;
    }
    .cont4txt1{
        font-size: 50%;
    }
    .cont4txt2{
        font-size: 50%;
    }
    .cont6txt{
        width:75px;
        margin-left: 15px;
    }
    .cont6txt1{
        font-size: 50%;
    }
    .cont6txt2{
        font-size: 50%;
    }
    .cont1{
        width:420px;
    }
    .cont5{
        width:492px;
    }
    .events{
        width:75px;
        margin-left: 15px;
    }
    .Lsttxt{
        width:325px;
        line-height: 3;
    }
    .Lsttxt1{
        font-size: 45%;
    }
    .Lstsign{
        width:50px;
        font-size: 50%;
        height:30px;
        margin-top: 25px;
    }
    .care-icon > img {
        width:100px;
        height:100px;
        margin-left: 20px;
        margin-top: 10px;
        display:flex;
    }
    
    
     .cr1 > img {
        width:170px;
        height:89px;
        margin-top: 10px;
        margin-left: 10px;
        display:flex;
     }
    
     .cr2 > img {
        width:170px;
        height:89px;
        margin-top: 10px;
        margin-left: 10px;
     }
}
